@model WarMachine.ViewModels.Add.AddAbilitySolo

<form asp-controller="EditAbilities" asp-action="Solo" method="post">
    <div class="form-control">
        <select asp-for="AbilityID" asp-items="@Model.Abilities">Abilities</select>
    </div>

    <div class="form-control">
       
        <input type="submit" />
    </div>
</form>