@model WarMachine.ViewModels.AddUnitViewModel

<form asp-controller="Add" asp-action="AddUnit" method="post">

    @Html.Partial("ModelForm")


   


    <div class="form-group">
        <label asp-for="MaxUnit"></label>
        <input class="form-control" asp-for="MaxUnit" />
        <span asp-validation-for="MaxUnit"></span>
    </div>

    <div class="form-group">
        <label asp-for="MinUnit"></label>
        <input class="form-control" asp-for="MinUnit" />
        <span asp-validation-for="MinUnit"></span>
    </div>





    <input type="submit" />


</form>