@model WarMachine.ViewModels.AddWarjackViewModel
@using static WarMachine.Models.WarModels.Warjack

<form asp-controller="Add" asp-action="Solo" method="post">

    @Html.Partial("ModelForm")

    <div class="form-group">
        <label asp-for="Size"></label>
        <select asp-items="Html.GetEnumSelectList<Sizes>()" asp-for="Size"></select>
        <span asp-validation-for="Size"></span>
    </div>







    <input type="submit" />


</form>