@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Select a Type to add</h1>
<a asp-controller="Add" asp-action="Model">Model</a>
<a asp-controller="Add" asp-action="Spell">Spell</a>
<a asp-controller="Add" asp-action="Ability">Ability</a>
<a asp-controller="Add" asp-action="Weapon">Weapon</a>
<a asp-controller="Add" asp-action="Rule">Rule</a>
<a asp-controller="Add" asp-action="Solo">Solo</a>