
<link rel="stylesheet" href="~/css/site.css" />


<div class="jumbotron">
    <h1 class="display-3">WarMachine Database!</h1>
    <p class="lead"  >This is a simple database for warmachine models and rules..</p>
    <hr class="my-4">
    <p>You View edit and add Data.</p>
    <br /><br />
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">List building coming here soon</a>
    </p>
</div>