


<table class="table table-striped">
    <thead>
        <tr>

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                <th>
                   @(property.DisplayName ?? property.PropertyName)
                   
                </th>
            }

            <th>Edit</th>



            </table>
