@model WarMachine.Models.WarModels.SoloModel


<table class="table table-striped">
    <thead>
        <tr>

            @foreach (var property in ViewBag.Props)
            {
                <th>
                    @if (property == "factionName")
                    {<text> Faction </text>}
                    else {
                    @property
                    }

                </th>
            }

            <th>Edit</th>
        </tr>

            </thead>
           
   

         <tbody>
             <tr>
                 @foreach (var propertyName in ViewBag.PropData)
            {
                     <td>
                         @propertyName

                     </td>
                 }

                 <td><a asp-controller="Edit" asp-action="@ViewBag.Type" asp-route-SoloId="@Model.ID"><i class="fa fa-edit fa-lg"></i>Edit</a></td>

             </tr>
    </tbody>

            </table>

