@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>What would you like to view?</h1>
<a asp-controller="View" asp-action="Unit">Unit</a><br />
<a asp-controller="View" asp-action="Spell">Spell</a><br />
<a asp-controller="View" asp-action="Ability">Ability</a><br />
<a asp-controller="View" asp-action="Weapon">Weapon</a>
<a asp-controller="View" asp-action="Solo">Solo</a>
<a asp-controller="View" asp-action="Rule">Rule</a>

