@model WarMachine.Models.WarModels.Ability



<table class="table table-striped">
    <thead>
        <tr>

            @foreach (var property in ViewBag.Props)
            {
                <th>
                    @if (property == "factionName")
                    {<text> Faction </text>}
                    else
                    {
                        @property
                    }

                </th>
            }

            
        </tr>

    </thead>



    <tbody>
        <tr>
            @foreach (var propertyName in ViewBag.PropData)
            {
                <td>
                    @propertyName

                </td>
            }
        </tr>

      




</table>
<a asp-controller="Edit" asp-action="@ViewBag.Type" asp-route-type="Solos" asp-route-SoloId="@Model.ID"><i class="fa fa-edit fa-lg"></i>Edit</a>
<a asp-controller="Delete" asp-action="Index" asp-route-Type="Abillity" asp-route-name="@Model.Name" asp-route-ID="@Model.ID"><i class="fa fa-trash fa-lg"></i> Delete</a>