<h1>Select a Type to Edit</h1>
<a asp-controller="Edit" asp-action="Model">Model</a><br />
<a asp-controller="Edit" asp-action="Spell">Spell</a><br />
<a asp-controller="Edit" asp-action="Ability">Ability</a><br />
<a asp-controller="Edit" asp-action="Weapon">Weapon</a><br />
<a asp-controller="Edit" asp-action="Rule">Rule</a><br />
<a asp-controller="Edit" asp-action="Solo">Solo</a><br />